<!DOCTYPE html>

<html>

    <head>
      
        <title>Alpha Blog</title>   
        
        <%= stylesheet_link_tag "app/assets/styles.css" %>
        
    </head>
    
    <body id="about">
      
        <h1>About Alpha Blog</h1>
        <img src="http://www.pumpkinwebdesign.com/wp-content/uploads/2015/08/Why-Blog.jpg" alt="Blog image">
  
        <p class="paragraph">Alpha Blog allows individuals to express their opinions on a broad spectrum of fascinating topics.</p>
       
       <nav class="navContainer">
           <ul>
               <li><%= link_to 'Home', root_path %></li> 
           </ul>
       </nav> 
       
    </body>

</html>