<!DOCTYPE html>

<html>

    <head>
      
        <title>Alpha Blog</title>   
        
         <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
        
    </head>
    
    <body id="aboutBody">
      
        <h1 class=header>About Alpha Blog</h1>
        <img src="http://www.pumpkinwebdesign.com/wp-content/uploads/2015/08/Why-Blog.jpg" alt="Blog image">
  
        <p class="paragraph">Alpha Blog allows individuals to express their opinions on a broad spectrum of fascinating topics.</p>
       
       <nav>
           <ul>
               <li><%= link_to 'Home', root_path %></li> 
           </ul>
       </nav> 
       
    </body>

</html>