<!DOCTYPE html>

<html>

    <head>
      
        <title>Fact Now</title>   
        
        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
        
    </head>
    
    <body>
      
        <h1 align="center">Alpha Blog</h1>
  
        <p class="paragraph">Alpha Blog strives to keep it real, not to mention factual.</p>
       
    </body>

</html>
