<!DOCTYPE html>

<html>

    <head>
      
        <title>Alpha Blog</title>   
        
        <style>
        
          body {
            margin: 0 auto;
            text-align: center;
          }
          
          h1 { 
            text-shadow: 0 -1px 1px #333;
            color: #fc3;
            font-family: Courier, Arial, sans-serif;
          }
          
          p {
            font-family: Helvetica, Arial, sans-serif;
          }
          
        </style>
        
    </head>
    
    <body>
      
        <h1>About Alpha Blog</h1>
        <img src="http://www.pumpkinwebdesign.com/wp-content/uploads/2015/08/Why-Blog.jpg" alt="Blog image">
  
        <p>Alpha Blog allows individuals to express their opinions on a broad spectrum of fascinating topics.</p>
        
        <%= link_to 'Home', root_path %>
      
    </body>

</html>