<!DOCTYPE html>

<html>

    <head>
      
        <title>Alpha Blog</title>   
        
        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
        
    </head>
    
    <body id="about-body">
      
        <h1>About Alpha Blog</h1>
  
        <p class="paragraph">Alpha Blog allows individuals to express their opinions on a broad spectrum of fascinating topics.</p>
       
    </body>

</html>