$navbar-default-bg: rgba(0,0,0,0.8);

@import "bootstrap-sprockets";
@import "bootstrap";

@-webkit-keyframes colorFade {
    from { color: inherit; }
    
    to { color: #333; }
}

@-moz-keyframes colorFade {
    from { color: #fff; }
    
    to { color: #333;  }
}

@-o-keyframes colorFade {
    from { color: #fff; }
    
    to { color: #333;  }
}

@keyframes colorFade {
    from { color: #fff; }
    
    to { color: #333; }
}

body {
  background: aliceblue;
}

#logo {
  float: left;
  font-family: 'Poiret One', cursive;
  font-size: 1.7em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.header {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  width: 350px;
  text-align: center;
  margin: 0 auto 50px auto;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

h1, h2.article-title {
  font-family: 'Poiret One', cursive;
}

.jumbotron {
  background-image: asset-url('golden-gate-image.jpeg');
  background-size: cover;
  height: 480px;
  box-shadow: 1px 2px 2px #333;
}

.jumbotron h1 {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 80px;
  color: #fff;
  text-align: center;
  margin-bottom: 22px;
  letter-spacing: -1;
}

.jumbotron h1 span {
  font-weight: normal;
}

.jumbotron h1:hover {
   -webkit-animation: colorFade 2s alternate;
   -moz-animation: colorFade 2s alternate;
   -o-animation: colorFade 2s alternate;
   animation: colorFade 2s alternate;
}

.btn-xlarge {
  font-size: 1.7em;
  margin-top: 60px;
  background-color: rgba(0,0,0,0.75);
  border: none;
}

.btn-xlarge:link {
  box-shadow: 1px -1px 4px #333;
}

.btn-xlarge:visited {
  box-shadow: 1px -1px 4px #333;
}

.btn-xlarge:hover, .btn-xlarge:active {
  box-shadow: 1px -1px 4px #333;
}

.article-meta-details {
  border-top: solid 1px #eaeaea;
  margin-top: 15px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.glyphicon, .glyphicon:link, .glyphicon:visited {
  color: #333;
  text-decoration: none;
  font-size: 28px;
  margin: 10px 10px 0 0;
}

.glyphicon:hover {
  text-decoration: none;
  color: #009999;
}

.description {
  margin-top: 0;
}

.article-title {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: solid 1px #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

footer {
  margin-top: 100px;
  padding-top: 5px;
  border-top: solid 1px #eaeaea;
  color: #777;
  text-align: center;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style-type: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

img {
  opacity: 0.8;
  border-radius: 20px;
  margin-bottom: 50px;
}

#page-background {
  background: aliceblue;
}

.paragraph {
  color: #999;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  padding-top: 10px;
}




