$navbar-default-bg: rgba(0,0,0,0.8);

@import "bootstrap-sprockets";
@import "bootstrap";

@-webkit-keyframes colorFade {
    from { color: inherit; }
    
    to { color: #333; }
}

@-moz-keyframes colorFade {
    from { color: #fff; }
    
    to { color: #333;  }
}

@-o-keyframes colorFade {
    from { color: #fff; }
    
    to { color: #333;  }
}

@keyframes colorFade {
    from { color: #fff; }
    
    to { color: #333; }
}

#logo {
  float: left;
  font-family: 'Poiret One', cursive;
  font-size: 1.7em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.header {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  width: 350px;
  text-align: center;
  margin: 0 auto 50px auto;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('keyboard_image.jpeg');
  background-size: cover;
  height: 480px;
  box-shadow: 1px 2px 2px #333;
}

.jumbotron h1 {
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 80px;
  color: #fff;
  text-align: center;
  margin-bottom: 22px;
  letter-spacing: -1;
}

.jumbotron h1:hover {
   -webkit-animation: colorFade 2s alternate;
   -moz-animation: colorFade 2s alternate;
   -o-animation: colorFade 2s alternate;
   animation: colorFade 2s alternate;
}

.jumbotron h2 {
  font-family: 'Josefin Sans', sans-serif;
  color: #fff;
  margin-bottom: 50px;
  text-align: center;
}

.jumbotron h2 span {
  color: #fff;
  display: block;
  margin-top: 10px;
}

.btn-xlarge {
  font-size: 1.7em;
}

footer {
  margin-top: 100px;
  padding-top: 5px;
  border-top: solid 1px #eaeaea;
  color: #777;
  text-align: center;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style-type: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

img {
  opacity: 0.8;
  border-radius: 20px;
  margin-bottom: 50px;
}

#aboutBody {
  margin: 0 auto;
  text-align: center;
  background: aliceblue;
}

#aboutBody nav ul li {
  list-style-type: none;
}

.paragraph {
  color: #333;
  text-align: center;
}




