@-webkit-keyframes colorFade {
    from { color: inherit; }
    
    to { color: #333; }
}

@-moz-keyframes colorFade {
    from { color: #fff; }
    
    to { color: #333;  }
}

@-o-keyframes colorFade {
    from { color: #fff; }
    
    to { color: #333;  }
}

@keyframes colorFade {
    from { color: #fff; }
    
    to { color: #333; }
}

h1:hover {
   -webkit-animation: colorFade 2s alternate;
   -moz-animation: colorFade 2s alternate;
   -o-animation: colorFade 2s alternate;
   animation: colorFade 2s alternate;
}

img {
  opacity: 0.8;
  border-radius: 20px;
  margin-bottom: 50px;
}

#aboutBody {
  margin: 0 auto;
  text-align: center;
  background: aliceblue;
}

#aboutBody nav ul li {
  list-style-type: none;
}

#aboutParagraph {
  color: #333;
  text-align: center;
}

form input[type="text"], input[type="submit"] {
  color: black;
}

#article_description {
  color: black;
}

         
          
          
          
          
          